.emo_explo--emoji {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;

  will-change: transform, opacity;
  transform: translate3d(0, 0, 0);
  pointer-events: none;

  &::selection {
    background-color: transparent;
  }
}
